<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pet.name}}</title>
</head>
<body>
    {% for message in get_flashed_messages() %}
    <p>{{message}}</p>
    {%endfor%}
    <div>Name {{pet.name}}</div>
    <div>Species {{pet.species}}</div>
    {% if pet.photo_url %}
    <div>Photo <img src="{{pet.photo_url}}" alt="pet image"></div>
    {% else %}
    {% endif %}
    <div>Age {{pet.age}}</div>

    <div>
        <form id="edit-pet-form" method="POST">
            {{ form.hidden_tag() }} 
            {% for field in form
                if field.widget.input_type != 'hidden' %}
       
           <p>
             {{ field.label }}
             {{ field }}
       
             {% for error in field.errors %}
               {{ error }}
             {% endfor %}
           </p>
         {% endfor %}
          
            <button type="submit">Submit</button>
          </form>
    </div>
</body>

</html>